.git
.github
.env
.env.*
!.env.example
.DS_Store
.idea
.vscode
node_modules
vendor
dist
build
coverage
*.log

symbol-engine/node_modules
symbol-engine/dist
symbol-engine/.env
symbol-engine/.env.*

drupal/vendor
drupal/.phpunit.cache
drupal/web/core
drupal/web/libraries
drupal/web/modules/contrib
drupal/web/profiles/contrib
drupal/web/themes/contrib
drupal/web/sites/*/files
drupal/web/sites/*/settings.php
drupal/web/sites/*/settings.local.php
drupal/web/sites/simpletest
