.env
.env.local
/node_modules/
/vendor/
/symbol-engine/node_modules/
/symbol-engine/dist/
/drupal/vendor/
/drupal/web/*
!/drupal/web/modules/
/drupal/web/modules/*
!/drupal/web/modules/custom/
/drupal/web/modules/custom/*
!/drupal/web/modules/custom/symbol_atomic_swap/
!/drupal/web/modules/custom/symbol_atomic_swap/**
!/drupal/web/modules/custom/symbol_engine/
!/drupal/web/modules/custom/symbol_engine/**
!/drupal/web/modules/custom/symbol_login/
!/drupal/web/modules/custom/symbol_login/**
!/drupal/web/modules/custom/symbol_p2p_ad_listing/
!/drupal/web/modules/custom/symbol_p2p_ad_listing/**
.DS_Store
.idea/
.vscode/
/dist/
/build/
coverage/
/*.log
/drupal/web/sites/*/files/
/drupal/web/sites/*/settings.php
/drupal/web/sites/*/settings.local.php
/drupal/web/sites/simpletest/
